@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body{
 font-family: 'Lato', sans-serif !important;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
 body{
	display:none;
 }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
 body{
	display:none;
 }
}

.app_tracking{
 display:none;
}

.app_footer{
 width: 100%;
 font-size: 0.7em;
}

.app_title{
 
}

#app_main{
 background: rgba(0,0,0,0) !important;
}

.app_bg{
 background: url('samvid/0.jpg') center center no-repeat;
 width: 100%;
 height: 150px;
 position: fixed;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 opacity: 0.3;
}

.ui-page-theme-a{
 font-family: 'Lato', sans-serif !important;
}

.Slideshow{
 position: absolute;
 top: 0px;
 left: 0px;
 background: linear-gradient(135deg, #D5B686, #FF7E79);
 width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

 .app_slideshow_content{
	text-align: center;
	text-shadow: none;
	font-size: 1.3em;
 }
 
 .app_bg_logo{
	position: absolute;
	bottom: 0%;
	opacity: 0.94;
 }
 
 #app_credits{
	width: 100%;
	padding-top: 20%;
	text-align: center;
	font-size: 1.3em;
 }
 
 #app_menu_title{
	width: 100%;
	text-align: center;
	opacity: 0.7;
 }
 
 .about_samvid{
  text-align: center;
  font-size: 1.1em;
  line-height: 1.3;
}

.app_event_btn{
 text-align: left;
}

.appContainer_Title{
  text-align: center;
  font-size: 1.5em;
  line-height: 1.3;
}

.app_contact_name{
 text-align: center;
 font-size: 1.5em;
 margin: 0px;
 padding: 0px; 
}

.app_href{
 text-decoration: none;
}

.app_iframe{
 position: absolute;
 top: 7%;
 left: 0%;
 margin: 0px;
 padding: 0px;
 width: 100%;
}

.app_social_btn_facebook{
 line-height: 2.3;
 background: #1D348C !important;
 border: 2px solid #13225A !important;
}

.app_social_btn_feedback{
 line-height: 2.3;
 background: #1D8C77 !important;
 border: 2px solid #166B5A!important;
}

.app_social_btn_confess{
 line-height: 2.3;
 background: #8C251D !important;
 border: 2px solid #6E1D16 !important;
}

.app_dialog{
 text-align: center;
}

.app_iframe_registration{
 position: absolute;
 top: 7%;
 left: 0%;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: 1000px;
}

.app_credits{
 text-align: center;
 position: absolute;
 top: 0%;
 left: 0%;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: 640px;
 background: #000;
}

.app_marquee{
 background: #000;
}

.app_credits_title{
 font-size: 1.3em;
 text-align: center;
 margin: 0px;
 padding: 0px;
 font-style: italic;
 margin-top: -10px;
 color: #fff;
}


.app_credits_subtitle{
 color: #fff;
 font-size: 0.8em;
 text-align: center;
 margin: 0px;
 padding: 0px;
 line-height: 1;
 text-transform: uppercase;
 letter-spacing: 0px;
}

.app_credits_container{
 width: 90%;
 margin: 0 5%;
 text-align: center;
}